<section class="hero is-small is-link">
    <div class="level">
        <div class="level-left">

            <div class="hero-body">
                <p class="title">
                    URŠKA
                </p>
                <p class="subtitle is-hidden-mobile">
                    Univerzitetne Rešitve: Študentski Komunikacijski Asistent
                </p>
                <p class="subtitle">
                    (Alpha test)
                </p>
            </div>
        </div>
    
        <div class="level-right">
            <app-server-status></app-server-status>
        </div>
    </div>
    
</section>