<div 
    class="msg mt-5"
    [ngClass]="{
        'right-msg has-text-centered': message?.type == 'user',
        'left-msg': message?.type == 'bot'
    }"
>
    <!-- <div
     class="msg-img"
     [ngClass]="{
        'user-icon': message?.type == 'user',
        'bot-icon': message?.type == 'bot'
     }"
    ></div> -->

    <div class="msg-bubble">
      <div class="msg-info" *ngIf="message?.type == 'bot'">
        <div class="msg-info-name">
          <span>{{ getName() }}</span>
        </div>
      </div>

      <div class="msg-text" *ngIf="!message?.loader" >
        <!-- disable sanitizer using markdown component -->
        <markdown
            [data]="message?.content"
        >
        </markdown>
      </div>
      <p class="msg-text" *ngIf="message?.loader">
        <span class="loader"></span>
        <span class="loader-text">{{message?.state}}</span>
      </p>

      <div *ngIf="message?.type=='bot'">
        <i class="rate-icon is-hoverable far fa-thumbs-up"></i>
        <i class="rate-icon is-hoverable far fa-thumbs-down"></i>
      </div>
    </div>
  </div>