<div class="has-text-right status">

    
    <p class="is-hidden-mobile"
        [ngClass]="{
            'green': socketStatusLabel() == 'Open',
            'yellow': socketStatusLabel() == 'Connecting...',
            'red': (socketStatusLabel() == 'Closing...'  || socketStatusLabel() == 'Closed')
        }"
    >Connection: {{ socketStatusLabel() }} </p>
    <p *ngIf="isWssConnected()" [ngClass]="{
            'green': serverLoadLabel() == 'Healthy',
            'yellow': serverLoadLabel() == 'Light',
            'red': serverLoadLabel() == 'Heavy'
        }"
    >
        {{ serverLoadLabel() }}
    </p>
    <p *ngIf="inQue()">{{ posLabel() }} </p>
</div>
