<section class="msger">
    <main #chat class="msger-chat">
        <div *ngFor="let historyMessage of messages">
            <app-message 
                [message]="historyMessage"
            ></app-message>
        </div>
    </main>

    <form class="msger-inputarea">
        <input 
            [(ngModel)]="messageContent" 
            type="text" 
            class="msger-input"
            placeholder="Enter your message..."
            name="messageInput"
        >
        <button 
            type="submit" 
            class="msger-send-btn" 
            (click)="sendMessage()"
            [disabled]="waiting"
        >
            Send
        </button>
    </form>
</section>