<section class="msger">
    <main #chat class="msger-chat" *ngIf="panel == 'response'">
        <div *ngFor="let historyMessage of messages">
            <app-message 
                [message]="historyMessage"
            ></app-message>
        </div>
    </main>

    <main #chat class="msger-chat" *ngIf="panel == 'passages'">
        <div *ngFor="let passage of passages">
            <app-message 
                [message]="passage"
            ></app-message>
        </div>
    </main>

    <form class="msger-inputarea" *ngIf="!prompted">
        <input 
            [(ngModel)]="messageContent" 
            type="text" 
            class="msger-input"
            placeholder="Enter your question..."
            name="messageInput"
            [disabled]="waiting"
        >
        <button 
            type="submit" 
            [ngClass]="{'disabled': waiting}"
            class="msger-send-btn" 
            (click)="sendMessage()"
            [disabled]="waiting"
        >
            Send
        </button>
    </form>

    <div class="level msger-inputarea" *ngIf="prompted">
        <div class="level-left">
            <button class="button is-primary is-outlined" (click)="toggleCheckedPassages()">Toggle checked passages</button>
        </div>
        <div class="level-right">
            <button class="button is-primary" (click)="nextQuestion()">Next question</button>
        </div>
    </div>
</section>
